# Arquivos e pastas padrão de build
bin/
obj/
out/

# Diretórios e arquivos específicos de IDEs e editores
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.suo

# Arquivos e diretórios de configuração do NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Arquivos e diretórios de dependências e ferramentas
node_modules/
bower_components/
jspm_packages/

# Arquivos de configuração temporários
*.log
*.tmp
*.swp
*.swo
*.DS_Store

# Configurações de cache
.cache/
npm-debug.log
yarn-debug.log
yarn-error.log

# Arquivos de Build e Testes
TestResults/
*.coverage
*.coveragexml
*.testsettings
*.vs/

# Arquivos de backup
*.bak
*.backup

# Configuração de banco de dados local
appsettings.Development.json
appsettings.Local.json
*.db

# Arquivos específicos do ASP.NET Core
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets