textarea{
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.uk-table-hover{
  cursor: pointer;
}

.cursor-button{
  cursor: pointer;
}